/* Colors */

$bg-dark: black
$bg-light: red
$clear-button: #F74248
$file-ex-light: white
$footer-dark: #151514
$gray: #eee
$header-button: #1494F0
$header-dark: #141414
$header-font: white
$home-bg: #0D61F2
$home-content: #eee
$home-footer-light: #035aa6
$home-info-header: #bbb
$toolbar-dark: #0e2f44
$toolbar-light: $gray

/* Fonts */

$cursive: 'Fredoka One', cursive
$sans-serif: 'Raleway', sans-serif
$alt-sans-serif: 'Merriweather Sans', sans-serif
$serif: 'Sanchez', serif
