<div id="container">
  <div id="stats" class="ui cards">
    <div class="card">
      <div class="content ui grid">
        <div class="center aligned two column row">
          <div class="column">
            <div class="header">
              Total Users
            </div>
            <!-- header -->
            <div class="ui statistic" [ngClass]="{small: isMobile}">
              <div class="value">
                5,550
              </div>
            </div>
            <!-- statistic -->
          </div>
          <!-- column -->
          <div class="center aligned column">
            <i class="users icon"></i>
          </div>
          <!-- column -->
        </div>
        <!-- row -->
      </div>
      <!-- grid -->
    </div>
    <!-- card -->

    <div class="card">
      <div class="content ui grid">
        <div class="center aligned two column row">
          <div class="column">
            <div class="header">
              Total Plugins
            </div>
            <!-- header -->
            <div class="ui statistic" [ngClass]="{small: isMobile}">
              <div class="value">
                5,550
              </div>
            </div>
            <!-- statistic -->
          </div>
          <!-- column -->
          <div class="center aligned column">
            <i class="plug icon"></i>
          </div>
          <!-- column -->
        </div>
        <!-- row -->
      </div>
      <!-- grid -->
    </div>
    <!-- card -->

    <div class="card">
      <div class="content ui grid">
        <div class="center aligned two column row">
          <div class="column">
            <div class="header">
              Total Devs
            </div>
            <!-- header -->
            <div class="ui statistic" [ngClass]="{small: isMobile}">
              <div class="value">
                5,550
              </div>
            </div>
            <!-- statistic -->
          </div>
          <!-- column -->
          <div class="center aligned column">
            <i class="code icon"></i>
          </div>
          <!-- column -->
        </div>
        <!-- row -->
      </div>
      <!-- grid -->
    </div>
    <!-- card -->
  </div>
  <!-- stats -->

  <div id="graphs">
    <div>
      Lorem ipsum dolor sit amet consectetur, adipisicing elit. Mollitia ab veritatis consectetur obcaecati voluptatum corrupti
      doloremque esse corporis! Illo culpa nostrum voluptatibus minima aspernatur sit illum cumque, asperiores distinctio
      perspiciatis?
    </div>
    <div>
      Lorem ipsum dolor sit amet consectetur adipisicing elit. Et vitae, accusamus ea eaque inventore praesentium sunt dignissimos
      laudantium hic aliquam delectus quia omnis maiores aspernatur pariatur, repellat voluptates numquam quos. Lorem ipsum
      dolor sit amet consectetur, adipisicing elit. Cupiditate culpa nulla voluptatibus natus amet totam, obcaecati fuga
      et quis, officiis inventore voluptatum debitis! Cum ea excepturi quisquam facere sit voluptatem.
    </div>
  </div>
  <!-- graphs -->
</div>
