<div id="container">
  <div id="stats">
    <div id="stats" class="ui cards">
      <div class="card">
        <div class="content">
          <div class="header">
            <i class="user icon"></i>
            Total Users
          </div>
          <div class="ui statistic" [ngClass]="{small: isMobile}">
            <div class="value">
              5,550
            </div>
          </div>
        </div>
      </div>

      <div class="card">
        <div class="content">
          <div class="header">
            <i class="user icon"></i>
            Total Plugins
          </div>
          <div class="ui statistic" [ngClass]="{small: isMobile}">
            <div class="value">
              5,550
            </div>
          </div>
        </div>
      </div>

      <div class="card">
        <div class="content">
          <div class="header">
            <i class="user icon"></i>
            Total Developers
          </div>
          <div class="ui statistic" [ngClass]="{small: isMobile}">
            <div class="value">
              5,550
            </div>
          </div>
        </div>
      </div>

    </div>
  </div>
  <!-- stats -->
  <div id="graphs">
    <div>
      Lorem ipsum dolor sit amet consectetur, adipisicing elit. Mollitia ab veritatis consectetur obcaecati voluptatum corrupti doloremque esse corporis! Illo culpa nostrum voluptatibus minima aspernatur sit illum cumque, asperiores distinctio perspiciatis?
    </div>
    <div>
      Lorem ipsum dolor sit amet consectetur adipisicing elit. Et vitae, accusamus ea eaque inventore praesentium sunt dignissimos laudantium hic aliquam delectus quia omnis maiores aspernatur pariatur, repellat voluptates numquam quos.
      Lorem ipsum dolor sit amet consectetur, adipisicing elit. Cupiditate culpa nulla voluptatibus natus amet totam, obcaecati fuga et quis, officiis inventore voluptatum debitis! Cum ea excepturi quisquam facere sit voluptatem.
    </div>
  </div>
  <!-- graphs -->
</div>
