<div id="container">
<div id="main">
<div id="quote">
 <div id="left-quote">
 </div>
 <div id="right-quote">

 </div>
</div>
<div id="plugins">
<div id="left-plugins">
<div class="ui three centered cards">
  <div class="ui card">
  <div class="image">
    <img src="/images/avatar2/large/kristy.png">
  </div>
  <div class="content">
    <a class="header">JAVA</a>
    <div class="meta">
      <span class="date">Created on 2013</span>
    </div>
    <div class="description">
      Java is made by yash saraf.
    </div>
  </div>
  <div class="extra content">
    <a>
      <i class="user icon"></i>
      1million install
    </a>
  </div>
</div><div class="ui card">
  <div class="image">
    <img src="/images/avatar2/large/kristy.png">
  </div>
  <div class="content">
    <a class="header">JAVA</a>
    <div class="meta">
      <span class="date">Created on 2013</span>
    </div>
    <div class="description">
      Java is made by yash saraf.
    </div>
  </div>
  <div class="extra content">
    <a>
      <i class="user icon"></i>
      1million install
    </a>
  </div>
</div><div class="ui card">
  <div class="image">
    <img src="/images/avatar2/large/kristy.png">
  </div>
  <div class="content">
    <a class="header">JAVA</a>
    <div class="meta">
      <span class="date">Created on 2013</span>
    </div>
    <div class="description">
      Java is made by yash saraf.
    </div>
  </div>
  <div class="extra content">
    <a>
      <i class="user icon"></i>
      1million install
    </a>
  </div>
</div><div class="ui card">
  <div class="image">
    <img src="/images/avatar2/large/kristy.png">
  </div>
  <div class="content">
    <a class="header">JAVA</a>
    <div class="meta">
      <span class="date">Created on 2013</span>
    </div>
    <div class="description">
      Java is made by yash saraf.
    </div>
  </div>
  <div class="extra content">
    <a>
      <i class="user icon"></i>
      1million install
    </a>
  </div>
</div><div class="ui card">
  <div class="image">
    <img src="/images/avatar2/large/kristy.png">
  </div>
  <div class="content">
    <a class="header">JAVA</a>
    <div class="meta">
      <span class="date">Created on 2013</span>
    </div>
    <div class="description">
      Java is made by yash saraf.
    </div>
  </div>
  <div class="extra content">
    <a>
      <i class="user icon"></i>
      1million install
    </a>
  </div>
</div>
</div>
</div>
<div id="right-plugins">
  <div id="upper">
    <h2>FEATURE PLUGIN</h2>
  </div>
  <div id="lower">
    <div class="ui one centered cards">
    <div class="ui special cards">
  <div class="card">
    <div class="blurring dimmable image">
      <div class="ui dimmer">
        <div class="content">
          <div class="center">
            <div class="ui inverted button">Install plugin</div>
          </div>
        </div>
      </div>
      <img src="/images/avatar/large/elliot.jpg">
    </div>
    <div class="content">
      <a class="header">JAVA</a>
      <div class="meta">
        <span class="date">Create in Sep 2014</span>
      </div>
    </div>
    <div class="extra content">
      <a>
        <i class="users icon"></i>
        2cr installs
      </a>
    </div>
  </div>
</div>
<div class="ui special cards">
  <div class="card">
    <div class="blurring dimmable image">
      <div class="ui dimmer">
        <div class="content">
          <div class="center">
            <div class="ui inverted button">Install plugin</div>
          </div>
        </div>
      </div>
      <img src="/images/avatar/large/elliot.jpg">
    </div>
    <div class="content">
      <a class="header">JAVA</a>
      <div class="meta">
        <span class="date">Create in Sep 2014</span>
      </div>
    </div>
    <div class="extra content">
      <a>
        <i class="users icon"></i>
        2cr installs
      </a>
    </div>
  </div>
</div>
</div>
  </div>
</div>
</div>
</div>
<div class="ui black inverted vertical segment" id="footer">
  <div id="left-footer">
    <strong>Contact us:</strong>
  </div>
  <div id="right-footer">
    <p>
      <i class="ui icon mail"></i>
      <a href="mailto:help.plugncode@gmail.com">
        <span class="footer-text">{{contacts.email}}</span>
      </a>
    </p>
    <p>
      <i class="ui icon text telephone"></i>
      <span class="footer-text">{{contacts.phone}}</span>
    </p>
  </div>
</div>
</div>
