<div id="container">
    <div class="ui segments">
        <div class="ui raised segment">
            <table class="ui striped small compact padded selectable table">
                <thead >
                    <tr>
                        <th><h3 class="ui center aligned header">Name</h3></th>
                        <th class="single line"><h3 class="ui left aligned header">Created on</h3></th>
                        <th class="single line"><h3 class="ui left aligned header">Updated on</h3></th>
                        <th class="single line"><h3 class="ui left aligned header">Description</h3></th>
                        <th><h3 class="ui left aligned header">Plugin file</h3></th>
                        <th><h3 class="ui left aligned header">Status</h3></th>
                        <th></th>
                    </tr>
                </thead>
                <tbody>
                    <tr>
                        <td class="single line">
                            <h2 class="ui center aligned header">Raees R. Mulla</h2>
                        </td>
                        <td class="single line">
                            01-01-18
                        </td>
                        <td class="single line">
                            30-01-18
                        </td>
                        <td class="left aligned single line">
                            <a>JDK</a>
                        </td>
                        <td class="left aligned single line">
                          Dockerfile
                        </td>
                        <td class="left aligned single line">
                            APP
                        </td>
                        <td>
                          <div class="ui buttons">
                            <button class="ui positive disabled button">Approve</button>
                            <div class="or"></div>
                            <button class="ui negative button">Delete</button>
                          </div>
                        </td>
                    </tr>
                    <tr>
                        <td class="single line">
                            <h2 class="ui center aligned header">Raees R. Mulla</h2>
                        </td>
                        <td class="single line">
                            01-01-18
                        </td>
                        <td class="single line">
                            30-01-18
                        </td>
                        <td class="left aligned single line">
                            <a>JDK</a>
                        </td>
                        <td class="left aligned single line">
                          Dockerfile
                        </td>
                        <td class="left aligned single line">
                            APP
                        </td>
                        <td>
                          <div class="ui buttons">
                            <button class="ui positive disabled button">Approve</button>
                            <div class="or"></div>
                            <button class="ui negative button">Delete</button>
                          </div>
                        </td>
                    </tr>
                    <tr>
                        <td class="single line">
                            <h2 class="ui center aligned header">Raees R. Mulla</h2>
                        </td>
                        <td class="single line">
                            01-01-18
                        </td>
                        <td class="single line">
                            30-01-18
                        </td>
                        <td class="left aligned single line">
                            <a>JDK</a>
                        </td>
                        <td class="left aligned single line">
                          Dockerfile
                        </td>
                        <td class="left aligned single line">
                          PEN
                        </td>
                        <td>
                          <div class="ui buttons">
                            <button class="ui positive button">Approve</button>
                            <div class="or"></div>
                            <button class="ui negative button">Delete</button>
                          </div>
                        </td>
                    </tr>
                </tbody>
            </table>
        </div>
    </div>
</div>
