<!-- <div id="container">
  <div id="home-bg">
    <h2 class="ui header">
      <div class="ui fluid segment">
        <i class="settings icon"></i>
        <div class="content">
          Background Settings
          <div class="sub header">Manage background image</div>
        </div>
      </div>
    </h2>
    <div class="ui label">
      Image
      <select class="ui search dropdown" id="list">
        <option value="">JAVA</option>
      </select>
      <button class="ui icon button">
        <i class="refresh icon"></i>
      </button>
    </div>
    <button class="medium ui icon button">
      <i class="upload icon"></i>
    </button>
  </div>
  <div id="home-plugins">
    <h2 class="ui header">
      <i class="plug icon"></i>
      <div class="content">
        Manage plugins
      </div>
    </h2>
    <div class="ui label">
      Plugins
      <select class="ui fluid search dropdown" multiple="">
      </select>
      <button class="ui icon button">
        <i class="refresh icon"></i>
      </button>
    </div>
    <button class="medium ui icon button">
      <i class="upload icon"></i>
    </button>
  </div>
  <div id="contacts">
  </div>
</div> -->

<div id="container">
  <div id="home-bg">
    <div class="ui icon attached message">
      <i class="settings icon"></i>
      <div class="content">
        <div class="header">Background Settings</div>
        <p>Manage background image</p>
      </div>
    </div>
    <div class="ui attached fluid center aligned segment">
      <!-- <div class="ui label">
        Image
        <button class="ui icon button">
          <i class="refresh icon"></i>
        </button>
      </div>
      <button class="medium ui icon button">
        <i class="upload icon"></i>
      </button> -->
      <div class="ui left icon input">
        <i class="file icon"></i>
        <input type="file">
      </div>
    </div>
  </div>
  <div id="plugins">
    <div class="ui icon attached message">
      <i class="plug icon"></i>
      <div class="content">
        <div class="header">Plugin Settings</div>
        <p>Manage plugins for home</p>
      </div>
    </div>
    <div class="ui attached fluid center aligned segment">
      Lorem ipsum dolor, sit amet consectetur adipisicing elit. Soluta, debitis? Labore eveniet illo sapiente voluptatum quod aspernatur
      placeat provident non facilis soluta, culpa dolore incidunt eligendi mollitia ex ducimus distinctio!
    </div>
  </div>
  <div id="contact">
    <div class="ui icon attached message">
      <i class="mail icon"></i>
      <div class="content">
        <div class="header">Contact Settings</div>
        <p>Manage contact us details</p>
      </div>
    </div>
    <div class="ui attached fluid center aligned segment">
      Lorem ipsum dolor, sit amet consectetur adipisicing elit. Soluta, debitis? Labore eveniet illo sapiente voluptatum quod aspernatur
      placeat provident non facilis soluta, culpa dolore incidunt eligendi mollitia ex ducimus distinctio!
    </div>
  </div>
</div>
