<div id="container">
  <div id="home-bg">
    <div class="ui icon attached message">
      <i class="settings icon"></i>
      <div class="content">
        <div class="header">Background Settings</div>
        <p>Manage background image</p>
      </div>
    </div>
    <div class="ui attached fluid center aligned segment">
      <div class="ui left icon input">
        <i class="file icon"></i>
        <input type="file" accept=".jpg" (change)="onImageChange(homeBg.files)" #homeBg>
      </div>
      <div class="ui icon button" (click)="onImageSubmit()" [ngClass]="{disabled: !uploaded}">
        <i class="icon upload"></i>
      </div>
    </div>
  </div>
  <!-- home-bg -->
  <div id="plugins">
    <div class="ui icon attached message">
      <i class="plug icon"></i>
      <div class="content">
        <div class="header">Plugin Settings</div>
        <p>Manage plugins for home</p>
      </div>
    </div>
    <div class="ui attached fluid center aligned segment">
      Lorem ipsum dolor, sit amet consectetur adipisicing elit. Soluta, debitis? Labore eveniet illo sapiente voluptatum quod aspernatur
      placeat provident non facilis soluta, culpa dolore incidunt eligendi mollitia ex ducimus distinctio!
    </div>
  </div>
  <!-- plugins -->
  <div id="contact">
    <div class="ui icon attached message">
      <i class="mail icon"></i>
      <div class="content">
        <div class="header">Contact Settings</div>
        <p>Manage contact us details</p>
      </div>
    </div>
    <div class="ui attached fluid center aligned segment">
      Lorem ipsum dolor, sit amet consectetur adipisicing elit. Soluta, debitis? Labore eveniet illo sapiente voluptatum quod aspernatur
      placeat provident non facilis soluta, culpa dolore incidunt eligendi mollitia ex ducimus distinctio!
    </div>
  </div>
  <!-- contact -->
</div>
