<div id="container">
  <div class="ui center aligned icon header">
    <i class="circular hand spock icon"></i>
    <br> You've been logged out.
    <div class="ui header huge">
      {{message}}.
    </div>
    <div *ngIf="error != 'undefined' && error != 'null'" id="error" class="ui mini negative message">
      {{error}}!
    </div>
    <div id="button-wrapper">
      <button routerLink="/" class="ui big button">Go home</button>
      <button routerLink="/login" class="ui big button">Log back in</button>
    </div>
  </div>
</div>
