<div id="container">
  <div id="left-header" >
    <a class="ui logo icon image" href="#">
      <img id="logo" src="../../../assets/images/logo.png">
    </a>
    <button id="header-toggle" class="ui button tiny"><i class="fa fa-navicon" (click)='toggleHeader()'></i></button>
  </div>

  <div id="right-header" #header>
    <div id="wrapper-1">
      <a class="ui inverted olive button" href="#">About Us</a>
      <a class="ui inverted olive button" href="#">Docs</a>
      <a class="ui inverted olive button" href="https://www.apache.org/licenses/LICENSE-2.0">License</a>
    </div>
    <div id="wrapper-2">
      <div class="ui move up reveal">
        <div class="visible content">
          <div id="guest-label" class="ui teal label">
            Unlock all the features!
          </div>
        </div>
        <div class="hidden content">
          <div class="ui floated medium buttons">
            <button class="blue ui inverted button">Login</button>
            <div class="or"></div>
            <button class="green ui inverted button">Sign up</button>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
