<div id="container">
  <sui-sidebar-container class="ui bottom attached segment">
    <sui-sidebar class="inverted vertical" [isVisible]="true" #sidebar>
      <a class="item" (click)="dash()">Dashboard</a>
      <a class="item" (click)="plugins()">Plugins</a>
      <a class="item" (click)="users()">Users</a>
      <a class="item" (click)="uiElems()">UI Elements</a>
    </sui-sidebar>
    <sui-sidebar-sibling [isDimmedWhenVisible]="true">

      <div id="menu-toggle" class="ui animated big black right attached fixed button" (click)="sidebar.open()">
        <div class="visible content">
          <i class="sidebar icon"></i>
        </div>
        <div class="hidden content">
          Menu
        </div>
      </div>
      <!-- Menu toggle -->

      <div #parent></div>
    </sui-sidebar-sibling>
  </sui-sidebar-container>
</div>
