<div id="container">
  <div id="plugins">
  </div> <!-- plugins -->

  <div id="projects">
    <div class="ui center aligned top attached segment" id="segment">
      <h1 class="ui center aligned huge header" id="title">
        Plug n' Code
        <div class="sub header" id="tagline">Integated Development Environment</div>
      </h1>

      <div id="btn">
        <button type="button" name="createBtn" class="ui compact inverted blue animated fade button">
          <div class="visible content">Create project</div>
          <div class="hidden content">
            <i class="icon write"></i>
          </div>
        </button>

        <button type="button" name="importBtn" class="ui compact inverted blue animated fade button">
          <div class="visible content">Import project</div>
          <div class="hidden content">
            <i class="icon cloud download "></i>
          </div>
        </button>

        <button type="button" name="openBtn" class="ui compact inverted blue animated fade button">
          <div class="visible content">Open project</div>
          <div class="hidden content">
            <i class="icon folder open"></i>
          </div>
        </button>
      </div><br>
    </div>
  </div> <!-- projects -->

  <div class="ui black inverted vertical footer segment" id="footer">
    <div class="ui right floated celled horizontal list">
      <div class="item">Email: <a href="#">help.plugncode@gmail.com</a></div>
      <div class="item">Phone no. : 9892259710</div>
    </div>
    <div class="ui  horizontal list">
      <div class="item" href="#">© Copyright 2017. All Rights Reserved., Inc.</div>
    </div>
  </div> <!-- footer -->
</div>
