<div id="container" [style.background-image]="image">
  <!-- <app-help redirectDoc="/docs/projects,how_to_create_project.html"></app-help> -->
  <div id="main">
    <div id="projects">
      <div class="ui center aligned top attached basic segment">
        <button class="ui compact orange animated fade button" [ngClass]="{big: !isMobile, small: isMobile}" routerLink="/createproject">
          <div class="visible content">Create project</div>
          <div class="hidden content">
            <i class="icon write"></i>
          </div>
        </button>

        <button class="ui compact orange animated fade button" [ngClass]="{big: !isMobile, small: isMobile}" (click)="showOpenProjectModal('import')">
          <div class="visible content">Import project</div>
          <div class="hidden content">
            <i class="icon cloud download "></i>
          </div>
        </button>

        <button class="ui compact orange animated fade button" [ngClass]="{big: !isMobile, small: isMobile}" (click)="showOpenProjectModal('open')">
          <div class="visible content">Open project</div>
          <div class="hidden content">
            <i class="icon folder open"></i>
          </div>
        </button>
        <br>
      </div>
      <div class="ui horizontal inverted divider">
        Or
      </div>
    </div>
    <!-- projects -->

    <div id="environments" class="ui segments">
      <div class="ui basic segment">
        <div class="ui header">Quick Setup
          <i class="mini info circle icon" suiPopup popupInverted [popupPlacement]="bottom" popupText="Use one of these to quickly setup an environment or get a whole list of plugins from the marketplace"></i>
        </div>
      </div>
      <div class="ui basic cards segment">
        <div *ngFor="let env of envKeys" class="ui card" (mouseenter)="dimmer.isDimmed = true" (mouseleave)="dimmer.isDimmed = false">
          <div class="ui top black attached label">{{env | initCap}}</div>
          <div class="image" [innerHTML]="dataUri(env) | sanitizeHtml">
          </div>
          <sui-dimmer transitionDuration=500 [isClickable]="false" #dimmer>
            <div class="content">
              <div class="center">
                <div class="ui inverted button" routerLink="/createproject/{{env}}">Let's code</div>
              </div>
            </div>
          </sui-dimmer>
        </div>
        <!-- card -->
      </div>
      <!-- segment -->
    </div>
    <!-- environments -->

    <div *ngIf="!isMobile, else mobileInfo" id="info" class="ui equal width grid">
      <div class="row">
        <div *ngFor="let header of headers" class="ui basic segment" [ngClass]="{column: !isMobile}">
          <div class="ui basic center aligned segment header">{{header}}</div>
          <div class="info-content" innerHTML="{{info[header]}}">
          </div>
        </div>
      </div>
    </div>
    <!-- info -->

    <ng-template #mobileInfo>
      <div id="info">
        <sui-accordion>
          <sui-accordion-panel *ngFor="let header of headers">
            <div class="header" title>
              {{header}}
              <i class="ui icon dropdown"></i>
            </div>
            <div class="info-content" innerHTML="{{info[header]}}" content></div>
          </sui-accordion-panel>
        </sui-accordion>
      </div>
    </ng-template>
  </div>
  <!-- main -->

  <div class="ui black inverted vertical segment" id="footer">
    <div id="left-footer">
      <strong>Contact us:</strong>
    </div>
    <div id="right-footer">
      <p>
        <i class="ui icon mail"></i>
        <a href="mailto:help.plugncode@gmail.com">
          <span class="footer-text">{{contacts.email}}</span>
        </a>
      </p>
      <p>
        <i class="ui icon text telephone"></i>
        <span class="footer-text">{{contacts.phone}}</span>
      </p>
    </div>
  </div>
  <!-- footer -->
</div>
<!-- container -->

<sui-modal *ngIf="openProjectModal" (dismissed)="openProjectModal = false" [isBasic]="true" #openModal>
  <div class="header">Where would you like to load the file from?</div>
  <div class="content">
    <div class="ui centered two column grid">
      <div class="column">
        <div class="ui massive fluid inverted secondary button" (click)="openOfflineModal()" [class.animated]="!isMobile">
          <div class="visible content">
            <i class="icons" [ngClass]="{huge: !isMobile, large: isMobile}">
              <i class="inverted desktop icon"></i>
              <i class="inverted bottom left corner blue upload icon"></i>
            </i>
          </div>
          <div class="hidden content">
            Offline
          </div>
        </div>
        <!-- offline button -->
      </div>
      <!-- column -->
      <div class="column">
        <div class="ui massive fluid inverted secondary button" (click)="openOnlineProject()" [class.animated]="!isMobile">
          <div class="visible content">
            <i class="icons" [ngClass]="{huge: !isMobile, large: isMobile}">
              <i class="inverted cloud icon"></i>
              <i class="inverted bottom left corner blue upload icon"></i>
            </i>
          </div>
          <div class="hidden content">
            Cloud
          </div>
        </div>
        <!-- cloud button -->
      </div>
      <!-- column -->
    </div>
    <!-- grid -->
  </div>
  <!-- content -->
</sui-modal>
<!-- open project modal -->

<sui-modal *ngIf="offlineOpenModal" (dismissed)="offlineOpenModal = false">
  <div class="header">Choose a file to {{currentOperation}}:</div>
  <div class="content">
    <div class="ui input">
      <input type="file" accept=".tgz, .tar.gz" (change)="onFileChange($event)">
    </div>
  </div>
  <div class="actions">
    <div class="ui button primary" [class.disabled]="openFile == null" (click)="openOfflineProject()">{{currentOperation | initCap}}</div>
  </div>
</sui-modal>

<ng-template #actions>
  <div class="actions">
    <div class="ui negative right labeled icon button" (click)="importModal.deny()">
      <i class="close icon"></i>
      Cancel
    </div>
  </div>
</ng-template>

<sui-modal *ngIf="importMarketPlaceModal" [isFullScreen]="true" [isClosable]="false" [size]="large" [mustScroll]="true" (denied)="importMarketPlaceModal = false" #importModal>
  <ng-template [ngTemplateOutlet]="actions"></ng-template>
  <div class="content">
    <app-market-place isImport="true" (importDetails)="importDetails = $event" style="overflow-y: auto"></app-market-place>
  </div>
  <ng-template [ngTemplateOutlet]="actions"></ng-template>
</sui-modal>
