<div id="container" [style.background-image]="image">
  <div id="main">
    <div id="projects">
      <div class="ui center aligned top attached basic segment">
        <button class="ui compact orange animated fade button" [ngClass]="{big: !isMobile, small: isMobile}" routerLink="/createproject">
          <div class="visible content">Create project</div>
          <div class="hidden content">
            <i class="icon write"></i>
          </div>
        </button>

        <button class="ui compact orange animated fade button" [ngClass]="{big: !isMobile, small: isMobile}">
          <div class="visible content">Import project</div>
          <div class="hidden content">
            <i class="icon cloud download "></i>
          </div>
        </button>

        <button class="ui compact orange animated fade button" [ngClass]="{big: !isMobile, small: isMobile}">
          <div class="visible content">Open project</div>
          <div class="hidden content">
            <i class="icon folder open"></i>
          </div>
        </button>
        <br>
      </div>
      <div class="ui horizontal inverted divider">
        Or
      </div>
    </div>
    <!-- projects -->

    <div id="environments" class="ui segments">
      <div class="ui basic segment">
        <div class="ui header">Start coding now in
          <i class="icon level down"></i>
        </div>
      </div>
      <div class="ui basic cards segment">
        <div *ngFor="let env of envKeys" class="ui card" (mouseenter)="dimmer.isDimmed = true" (mouseleave)="dimmer.isDimmed = false">
          <div class="ui top black attached label">{{env | initCap}}</div>
          <div class="image" [innerHTML]="dataUri(env) | sanitizeHtml">
          </div>
          <sui-dimmer transitionDuration=500 [isClickable]="false" #dimmer>
            <div class="content">
              <div class="center">
                <div class="ui inverted button" (click)="quickSetupModalShow(env)">Let's code</div>
              </div>
            </div>
          </sui-dimmer>
        </div>
        <!-- card -->
      </div>
      <!-- segment -->
    </div>
    <!-- environments -->

    <div *ngIf="!isMobile, else mobileInfo" id="info" class="ui equal width grid">
      <div class="row">
        <div *ngFor="let header of headers" class="ui basic segment" [ngClass]="{column: !isMobile}">
          <div class="ui basic center aligned segment header">{{header}}</div>
          <div class="info-content" innerHTML="{{info[header]}}">
          </div>
        </div>
      </div>
    </div>
    <!-- info -->

    <ng-template #mobileInfo>
      <div id="info">
        <sui-accordion>
          <sui-accordion-panel *ngFor="let header of headers">
            <div class="header" title>
              {{header}}
              <i class="ui icon dropdown"></i>
            </div>
            <div class="info-content" innerHTML="{{info[header]}}" content></div>
          </sui-accordion-panel>
        </sui-accordion>
      </div>
    </ng-template>
  </div>
  <!-- main -->

  <div class="ui black inverted vertical segment" id="footer">
    <div id="left-footer">
      <strong>Contact us:</strong>
    </div>
    <div id="right-footer">
      <p>
        <i class="ui icon mail"></i>
        <a href="mailto:help.plugncode@gmail.com">
          <span class="footer-text">{{contacts.email}}</span>
        </a>
      </p>
      <p>
        <i class="ui icon text telephone"></i>
        <span class="footer-text">{{contacts.phone}}</span>
      </p>
    </div>
  </div>
  <!-- footer -->
</div>
<!-- container -->

<sui-modal *ngIf="quickSetupLang != ''" [isClosable]="true" [isBasic]="true" (approved)="quickSetup()" (denied)="quickSetupLang = ''" #projectDetailsModal>
  <div class="ui header">Enter project details</div>
  <div class="content">
    <div style="color: white" class="ui small header">Project name</div>
    <div class="ui inverted input">
      <input type="text" name="projectName" [(ngModel)]="projectName" placeholder="e.g My project">
    </div>
    <div style="color: white" class="ui small header">File name <small>(with extension)</small></div>
    <div class="ui inverted input">
      <input type="text" name="fileName" [(ngModel)]="fileName" placeholder="e.g Main.py">
    </div>
  </div>
  <div class="actions">
    <div class="ui button" (click)="projectDetailsModal.deny()">Cancel</div>
    <div class="ui icon primary button" (click)="projectDetailsModal.approve()" [ngClass]="{disabled: isProjectDetailsEmpty()}">
      <i class="icon thumbs up"></i>
      Create
    </div>
  </div>
</sui-modal>
