<div id="container">
  <div class="ui segments">
    <div class="ui basic raised segment">
      <table *ngIf="users != undefined && users.length > 0; else notFound" class="ui striped small compact padded selectable table">
        <thead *ngIf="!isMobile">
          <tr>
            <th>
              <h3 class="ui center aligned header">Name</h3>
            </th>
            <th class="single line">
              <h3 class="ui left aligned header">Created on</h3>
            </th>
            <th class="single line">
              <h3 class="ui left aligned header">Email ID</h3>
            </th>
            <th>
              <h3 class="ui left aligned header">Username</h3>
            </th>
            <th>
              <h3 class="ui left aligned header">Role</h3>
            </th>
            <th></th>
          </tr>
        </thead>
        <tbody>
          <tr *ngFor="let user of users">
            <td class="single line">
              <h2 class="ui center aligned header">{{user.name}}</h2>
            </td>
            <td class="single line">
              <ng-container *ngIf="isMobile"><strong>Created on:</strong></ng-container> {{user.createdOn | date}}
            </td>
            <td class="left aligned single line">
              <ng-container *ngIf="isMobile"><strong>Email:</strong></ng-container> <a href="mailto:{{user.email}}">{{user.email}}</a>
            </td>
            <td class="left aligned single line">
              <ng-container *ngIf="isMobile"><strong>Username:</strong></ng-container> {{user.username}}
            </td>
            <td class="left aligned single line">
              <ng-container *ngIf="isMobile"><strong>Role:</strong></ng-container> {{user.role}}
            </td>
            <td>
              <button class="ui fluid negative button" (click)="deleteUsername = user.username" [ngClass]="{disabled: user.role == 'ADMIN'}">
                <i class="trash icon"></i> Delete
              </button>
            </td>
          </tr>
        </tbody>
      </table>
      <ng-template #notFound>
        No users found
      </ng-template>
    </div>
  </div>
</div>

<sui-modal *ngIf="deleteUsername !== ''" (approved)="deleteUser(deleteUsername)" (denied)="deleteUsername = ''" [isBasic]="true" [isClosable]="false" #deleteModal>
  <div class="header">Are you sure you would like to delete this user?</div>
  <div class="actions">
      <button class="ui grey button" (click)="deleteModal.deny()">Cancel</button>
      <button class="ui red button" (click)="deleteModal.approve()" autofocus>Delete</button>
  </div>
</sui-modal>

<sui-modal *ngIf="userDeletedSuccess" (dismissed)="userDeletedSuccess = false" [isBasic]="true">
  <div class="header">User has been deleted successfully</div>
  <div class="ui positive button">OK</div>
</sui-modal>

<sui-modal *ngIf="!userDeletedSuccess && userDeleteError != ''" (dismissed)="userDeletedSuccess = false; userDeleteError = ''" [isBasic]="true" #errorModal>
  <div class="header">An error occurred while deleting the user</div>
  <div class="content">{{userDeleteError}}</div>
  <div class="ui primary button" (click)="errorModal.approve()">OK</div>
</sui-modal>
