<div id="container">
  <div class="ui segments">
    <div class="ui basic raised segment">
      <table *ngIf="users != undefined && users.length > 0; else notFound" class="ui striped small compact padded selectable table">
        <thead *ngIf="!isMobile">
          <tr>
            <th>
              <h3 class="ui center aligned header">Name</h3>
            </th>
            <th class="single line">
              <h3 class="ui left aligned header">Created on</h3>
            </th>
            <th class="single line">
              <h3 class="ui left aligned header">Email ID</h3>
            </th>
            <th>
              <h3 class="ui left aligned header">Username</h3>
            </th>
            <th>
              <h3 class="ui left aligned header">Role</h3>
            </th>
            <th></th>
          </tr>
        </thead>
        <tbody>
          <tr *ngFor="let user of users">
            <td class="single line">
              <h2 class="ui center aligned header">{{user.name}}</h2>
            </td>
            <td class="single line">
              {{user.createdOn | date}}
            </td>
            <td class="left aligned single line">
              <a href="mailto:{{user.email}}">{{user.email}}</a>
            </td>
            <td class="left aligned single line">
              {{user.username}}
            </td>
            <td class="left aligned single line">
              {{user.role}}
            </td>
            <td>
              <button class="ui fluid negative button">
                <i class="trash icon"></i> Delete
              </button>
            </td>
          </tr>
        </tbody>
      </table>
      <ng-template #notFound>
        No users found
      </ng-template>
    </div>
  </div>
</div>
