<div id="wrapper">
  <div id="file-ex" #sidebar>
    <i id="close-nav" class="caret left icon" (click)="closeNav()"></i>
    <!-- <div id="file_ex_wrapper"> -->
    <div class="ui list">
      <div class="item">
        <!-- <i class="folder icon"></i> -->
        <i class="fa fa-folder"></i>
        <div class="content">
          <div class="header">src</div>
          <div class="description">Source files for project</div>
          <div class="list">
            <div class="item" style="padding-left: 1.5em">
              <!-- <i class="folder icon"></i> -->
              <i class="fa fa-folder"></i>
              <div class="content">
                <div class="header">site</div>
                <div class="description">Your site's theme</div>
              </div>
            </div>
            <div class="item" style="padding-left: 1.5em">
              <!-- <i class="folder icon"></i> -->
              <i class="fa fa-folder"></i>
              <div class="content">
                <div class="header">themes</div>
                <div class="description">Packaged theme files</div>
                <div class="list">
                  <div class="item" style="padding-left: 1.5em">
                    <!-- <i class="folder icon"></i> -->
                    <i class="fa fa-folder"></i>
                    <div class="content">
                      <div class="header">default</div>
                      <div class="description">Default packaged theme</div>
                    </div>
                  </div>
                  <div class="item" style="padding-left: 1.5em">
                    <!-- <i class="folder icon"></i> -->
                    <i class="fa fa-folder"></i>
                    <div class="content">
                      <div class="header">my_theme</div>
                      <div class="description">Packaged themes are also available in this folder</div>
                    </div>
                  </div>
                </div>
              </div>
            </div>
            <div class="item" style="padding-left: 1.5em">
              <!-- <i class="file icon"></i> -->
              <i class="fa fa-file"></i>
              <div class="content">
                <div class="header">theme.config</div>
                <div class="description">Config file for setting packaged themes</div>
              </div>
            </div>
          </div>
        </div>
      </div>
      <div class="item" style="padding-left: 1.5em">
        <!-- <i class="folder icon"></i> -->
        <i class="fa fa-folder"></i>
        <div class="content">
          <div class="header">dist</div>
          <div class="description">Compiled CSS and JS files</div>
          <div class="list">
            <div class="item" style="padding-left: 1.5em">
              <!-- <i class="folder icon"></i> -->
              <i class="fa fa-folder"></i>
              <div class="content">
                <div class="header">components</div>
                <div class="description">Individual component CSS and JS</div>
              </div>
            </div>
          </div>
        </div>
      </div>
      <div class="item" style="padding-left: 1.5em">
        <!-- <i class="file icon"></i> -->
        <i class="fa fa-file"></i>
        <div class="content">
          <div class="header">semantic.json</div>
          <div class="description">Contains build settings for gulp</div>
        </div>
      </div>
    </div>
    <div id="placeholder" style="flex-shrink: 0; height: 5em"></div>
    <!-- </div> -->
  </div>
  <div id="wrapper-2">
    <div id="toolbar">
      <i id="open-nav" class="compact caret right icon" (click)="openNav()"></i>
      to
      oo
      ls
    </div>
    <div id="wrapper-3">
      <div id="editor">
        <ace-editor
          [(text)]="text"
          #editor style="height:100%;"></ace-editor>
      </div>
      <div id="output">
        OUTPUT
      </div>
    </div>
  </div>
</div>
