<div id="container">
  <div class="ui raised padded container segment" id="main">
    <h1 class="ui header" style="margin-bottom: 0">
      Profile
    </h1>
    <div class="ui divider" style="margin: 0"></div>
    <form class="ui form error" novalidate #f="ngForm" (ngSubmit)="onSubmit(f)">
      <div class="fields">
        <div class="field">
          <div id="profile-img" [appIdenticon]="getIdenticonObject()">
          </div>
        </div>
        <div class="field" id="user-details">
          <h2 class="ui header">User Name{{user.name}}</h2>
          <h4 class="ui header"><span style="color: grey;">Role:&nbsp;{{user.role}}</span>Admin</h4>
          <h4 class="ui header"><span style="color: grey;">Created on:&nbsp;{{user.createdOn}}</span>15-02-18</h4>
        </div>
      </div>
      <div class="inline field" [ngClass]="{error: Name.errors && Name.touched, 'fluid': isMobile}">
        <label>Name</label>
        <br>
        <br>
        <div class="ui fluid left icon input" [ngClass]="{ disabled: !editable }">
          <input type="text" placeholder="John Doe" [(ngModel)]="user.name" name="name" #Name="ngModel" required pattern="^[a-zA-Z]+(\s|\.\s)?([a-zA-Z](\s|\.\s)?)*[a-zA-Z]+$" maxlength="80">
          <i class="user circle icon"></i>
        </div>
        <div *ngIf="Name.errors?.required && Name.touched" class="ui error message">
          Name is required
        </div>
        <div *ngIf="Name.errors?.pattern && Name.touched" class="ui error message">
          Invalid name
        </div>
      </div>
      <!-- Name field -->

      <div class="inline field" [ngClass]="{error: Email.errors && Email.touched, 'fluid': isMobile}">
        <label>Email address</label>
        <br>
        <br>
        <div class="ui fluid left icon input" [ngClass]="{ disabled: !editable }">
          <input type="email" placeholder="johndoe@example.com" [(ngModel)]="user.email" name="email" #Email="ngModel" (change)="onEmailChange()" required pattern="^\w+([\.-]?\w+)*@\w+([\.-]?\w+)*(\.\w{2,3})+$">
          <i class="mail icon"></i>
        </div>
        <div *ngIf="Email.errors?.required && Email.touched" class="ui error message">
          Email address is required
        </div>
        <div *ngIf="Email.errors?.pattern && Email.touched" class="ui error message">
          Invalid email address
        </div>
      </div>
      <!-- Email id field -->

      <div class="inline field" [ngClass]="{error: Username.errors && Username.touched, 'fluid': isMobile}">
        <label>Login ID</label>
        <br>
        <br>
        <div class="ui fluid left icon input" [ngClass]="{ disabled: !editable }">
          <input type="text" placeholder="johndoe123" [(ngModel)]="user.username" name="username"  #Username="ngModel"
            minlength="8" required pattern="^\S*$">
          <i class="id badge icon"></i>
        </div>
        <div *ngIf="Username.errors?.required && Username.touched" class="ui error message">
          Username is required
        </div>
        <div *ngIf="Username.errors?.minlength && Username.touched" class="ui error message">
          Must be at least 8 characters
        </div>
        <div *ngIf="Username.errors?.pattern && Username.touched" class="ui error message">
          Username can't have spaces
        </div>
      </div>
      <!-- Username field -->


      <button id="clear" class="ui animated negative submit button" (click)="editable = !editable" [ngClass]="{ tiny: isMobile }">
        <div class="visible content">Edit</div>
        <div class="hidden content">
          <i class="icon save"></i>
        </div>
      </button>

      <ng-container *ngIf="isMobile">
        <br><br>
      </ng-container>

      <button class="ui blue basic button" (click)="passModal = !passModal" [ngClass]="{ mini: isMobile }">
        Change password?
      </button>

      <!-- (click)="passModal = !passModal" -->
      <ng-container *ngIf="editable">
        <br><br>
        <div class="inline field" [ngClass]="{error: Password.errors && Password.touched, 'fluid': isMobile}">
          <label>Password</label>
          <br>
          <br>
          <div class="ui right labeled fluid left icon input" >
            <i class="icon lock"></i>
            <input type="password" placeholder="confirm to change" [(ngModel)]="user.password" name="password" #Password="ngModel" minlength="8"
              pattern="^\S*$" required #passwordField>
            <a class="ui label" (click)="onPasswordChange()">
              &nbsp;&nbsp;
              <i class="icon" [ngClass]="{unhide: isHidden, hide: !isHidden}"></i>
            </a>
          </div>
          <div *ngIf="Password.errors?.required && Password.touched" class="ui error message">
            Password is required
          </div>
          <div *ngIf="Password.errors?.minlength && Password.touched" class="ui error message">
            Must be at least 8 characters
          </div>
          <div *ngIf="Password.errors?.pattern && Password.touched" class="ui error message">
            Password can't have spaces
          </div>
        </div>
        <!-- Password field -->

        <button id="clear" class="ui animated positive submit button" [ngClass]="{ loading: loading, tiny: isMobile }">
          <div class="visible content">Submit</div>
          <div class="hidden content">
            <i class="icon save"></i>
          </div>
        </button>
      </ng-container>
    </form>

    <sui-modal *ngIf="error != ''" [isClosable]="true" [isBasic]="true" (dismissed)="error = false">
      <div class="ui huge header">Oops!</div>
      <div class="content">
        <h3>{{error}}</h3>
      </div>
    </sui-modal>

    <sui-modal *ngIf="passModal" [isClosable]="true" (denied)="closeModal()" size="mini">
      <!-- <h4 class="ui small header">Enter your password to continue</h4> -->
      <div class="content">
        <div class="inline field" [ngClass]="{error: Password.errors && Password.touched, 'fluid': isMobile}">
          <label>Enter new password</label>
          <br>
          <div class="ui right labeled fluid left icon input" >
            <i class="icon lock"></i>
            <input type="password" placeholder="strongest password" [(ngModel)]="user.password" name="password" #Password="ngModel" minlength="8"
              pattern="^\S*$" required #passwordField>
            <a class="ui label" (click)="onPasswordChange()">
              &nbsp;&nbsp;
              <i class="icon" [ngClass]="{unhide: isHidden, hide: !isHidden}"></i>
            </a>
          </div>
          <div *ngIf="Password.errors?.required && Password.touched" class="ui error message">
            Password is required
          </div>
          <div *ngIf="Password.errors?.minlength && Password.touched" class="ui error message">
            Must be at least 8 characters
          </div>
          <div *ngIf="Password.errors?.pattern && Password.touched" class="ui error message">
            Password can't have spaces
          </div>
        </div>
        <!-- Password field -->

        <br>
        <div class="inline field" [ngClass]="{error: cPassword.errors && cPassword.touched, 'fluid': isMobile}">
          <label>Confirm password</label>
          <br>
          <div class="ui fluid left icon input" >
            <input type="password" [(ngModel)]="confirmPassword" name="confirmPassword" placeholder="Retype password" #cPassword="ngModel"
              required pattern="^\S*$">
            <i class="lock icon"></i>
          </div>
          <div *ngIf="cPassword.errors?.required && cPassword.touched" class="ui error message">
            Please retype your password
          </div>
          <div *ngIf="user.password!=confirmPassword && cPassword.touched" class="ui error message">
            These passwords don't match. Try again?
          </div>
        </div>
        <!-- Confirm password field -->
      </div>
      <div class="actions">
        <button class="ui positive right labeled icon button" autofocus>
          Submit
          <i class="check icon"></i>
        </button>
      </div>
    </sui-modal>
    <!-- passwordModal -->

    <div class="ui divider" style="margin-bottom: 0"></div>
  </div>
  <!-- main -->

</div>
<!-- container -->
