<div id="container">
<div id="top">
<div class="ui massive raised circular segment"></div>
<h3 id="text">SACHIN<br>ADMIN<br>CREATED_ON: 1/1/1</h3>
</div>
<div id="middle">
  <div class="ui horizontal divider">
      Details
    </div>
</div>
<div id="bottom">
  <form id="form" class="ui large forms">
    <label>Full Name</label>
    <div class="disabled field">
        <input type="text" name="name" placeholder="SACHIN" disabled="" tabindex="-1">
      </div>
      <label>E-mail</label>
      <div class="disabled field">
        <input type="text" name="email" placeholder="SACHIN@abc.com" disabled="" tabindex="-1">
      </div>
      <label>Username</label>
      <div class="disabled field">
        <input type="text" name="username" placeholder="razorstun" disabled="" tabindex="-1">
      </div>
      <div class="ui small buttons" style="padding-top: 5px">
      <div class="ui button" (click)="onClickMe()">Change Password</div>
    </div><br>
      <div class="ui small buttons" style="padding-top: 10px">
  <button class="ui orange button">Edit</button>
  <div class="or"></div>
  <button class="ui disabled green button">Submit</button>
</div>
  </form>
  <div class="ui horizontal divider">
      Used Plugins
    </div>
</div>
<div id="plugins">
  <div class="ui three centered link cards">
    <div class="card">
      <div class="image">
        <img src="/images/avatar2/large/matthew.png">
      </div>
      <div class="content">
        <div class="header">PYTHON</div>
        <div class="meta">
          <a>Created_on: 1/1/1</a>
        </div>
    </div>
  </div>
  <div class="card">
    <div class="image">
      <img src="/images/avatar2/large/matthew.png">
    </div>
    <div class="content">
      <div class="header">PYTHON</div>
      <div class="meta">
        <a>Created_on: 1/1/1</a>
      </div>
  </div>
  </div>
  <div class="card">
    <div class="image">
      <img src="/images/avatar2/large/matthew.png">
    </div>
    <div class="content">
      <div class="header">PYTHON</div>
      <div class="meta">
        <a>Created_on: 1/1/1</a>
      </div>
  </div>
  </div>
  <div class="card">
    <div class="image">
      <img src="/images/avatar2/large/matthew.png">
    </div>
    <div class="content">
      <div class="header">PYTHON</div>
      <div class="meta">
        <a>Created_on: 1/1/1</a>
      </div>
  </div>
  </div>
  <div class="card">
    <div class="image">
      <img src="/images/avatar2/large/matthew.png">
    </div>
    <div class="content">
      <div class="header">PYTHON</div>
      <div class="meta">
        <a>Created_on: 1/1/1</a>
      </div>
  </div>
  </div>
  </div>
</div>
</div>
