<div class="container">
  <div class="ui raised segment">
      <form class="ui fluid form">
        <div class="ui field">
          <h2 class="ui header">Log into Plug 'n Code</h2><hr>
        </div>
        <div class="field">
          <label>Username</label>
          <div class="ui left icon input">
            <input type="text" placeholder="username">
            <i class="user icon"></i>
          </div>
        </div>
        <div class="field">
          <label>Password</label>
          <div class="ui left icon input">
            <input type="password">
            <i class="lock icon"></i>
          </div>
        </div>
        <div class="field">
          <div class="ui checked checkbox">
            <input type="checkbox" checked="" tabindex="0" name="remember" >
            <label>remember me</label>
          </div><br>
          <a href="#">forget password ?</a>
        </div>
        <div class="ui blue submit button">Login</div>
              <!-- <div class="ui right basic label">
                <label><a href="#">forget password</a></label>
              </div> -->

      </form>

      <!-- <h4>Username: {{ username }}</h4><br> -->
      <!-- <h4>Password: {{ password }}</h4> -->
  </div>
</div>
