<div id="container">
  <div class="pnc-header">Welcome back!</div>
  <br>
  <form class="ui form error" novalidate #f="ngForm" (ngSubmit)="onSubmit(f)" [ngClass]="{big: !isMobile}">
    <div class="inline field" [ngClass]="{error: Username.errors && Username.touched, 'six wide': !isMobile, 'fluid': isMobile}">
      <label>Username</label><br><br>
      <div class="ui left icon input">
        <input type="text" placeholder="johndoe123" [(ngModel)]="username" name="username" #Username="ngModel" minlength="8" required
          pattern="^\S*$">
        <i class="user icon"></i>
      </div>
      <div *ngIf="Username.errors?.required && Username.touched" class="ui error message">
        Username is required
      </div>
      <div *ngIf="Username.errors?.minlength && Username.touched" class="ui error message">
        Must be at least 8 characters
      </div>
      <div *ngIf="Username.errors?.pattern && Username.touched" class="ui error message">
        Username can't have spaces
      </div>
    </div> <!-- Username field-->

    <div class="inline field" [ngClass]="{error: Password.errors && Password.touched, 'six wide': !isMobile, 'fluid': isMobile}">
      <label>Password</label><br><br>
      <div class="ui right labeled left icon input">
        <i class="icon lock"></i>
        <input type="password" placeholder="strongestpassword" [(ngModel)]="password" name="password" #Password="ngModel"
          minlength="8" pattern="^\S*$" required #passwordField>
        <a class="ui label" (click)="onPasswordChange()">
          &nbsp;&nbsp;<i class="icon" [ngClass]="{unhide: isHidden, hide: !isHidden}"></i>
        </a>
      </div>
      <div *ngIf="Password.errors?.required && Password.touched" class="ui error message">
        Password is required
      </div>
      <div *ngIf="Password.errors?.minlength && Password.touched" class="ui error message">
        Must be at least 8 characters
      </div>
      <div *ngIf="Password.errors?.pattern && Password.touched" class="ui error message">
        Password can't have spaces
      </div>
    </div> <!-- Password field-->

    <div [ngClass]="{'inline fields': !isMobile}">
      <div class="field" [ngClass]="{'four wide': !isMobile}">
          <a href="#">Forgot password?</a>
      </div>
      <div class="field">
        <div class="ui slider checked checkbox">
          <input type="checkbox" checked="" tabindex="0" name="remember" (change)="remember_me=!remember_me" />
          <label>Remember me</label>
        </div>
      </div>
    </div> <!-- remember field -->

    <button class="ui blue animated submit button" [ngClass]="{large: !isMobile, loading: loading}">
      <div class="visible content">Sign in</div>
      <div class="hidden content"><i class="icon sign in"></i></div>
    </button>
    <button id="clear" class="ui animated button" type="reset" [ngClass]="{'large': !isMobile}">
      <div class="visible content">Clear</div>
      <div class="hidden content"><i class="icon erase"></i></div>
    </button>
    <br><br>
    <a class="ui basic positive button" routerLink="/register">New user?</a>
  </form>

  <sui-modal *ngIf="error != ''" [isClosable]="true" [isBasic]="true">
      <div class="ui huge header">Oops!</div>
      <div class="content">
          <h2>{{error}}</h2>
      </div>
  </sui-modal>
</div>
