<div class="container">
  <div class="ui raised padded text container segment" id="main">
    <h1 class="ui huge header">Plug n’ Code</h1>
    <p>
      <span style="font-weight: bold;">Plug n’ Code</span> is a web application which aims to provide a pluggable and dynamic development environment with a clean and easy to use and user interface.
    </p>

    <h2 class="ui center aligned header">
      Why Plug n’ Code?
    </h2>
    <p>
      There are many solutions out there which enable the users to run simple or slightly advanced projects online, but all of them run short when it comes to these issues,
    </p>

    <ul>
      <li>
        <h3 class="ui left aligned header">
          No support for user built plugins, thus rendering the project non-extensible
        </h3>
        <p>
          In Plug n’ Code, any user after going through a minimal authentication process, can create and publish a plugin in the marketplace to add support for a specific language. This enables the users to go beyond the pre-defined capabilities of the application.
        </p>
        <p >Also, each plugin goes through a thorough screening process to ensure no harmful or ill-intended code goes into the system. It goes through automated tests to test the structure of the plugin, it is then tested by the admins to test the functionality provided by the plugin.</p>
      </li>
      <li>
        <h3 class="ui left aligned header">
          No support for complex execution environments with multiple languages
        </h3>
        <p>
          In Plug n’ Code the goal is to provide pre-defined environments as well as the option to tailor the execution environment specific to the project’s needs.
        </p>
      </li>
      <li>
        <h3 class="ui left aligned header">
          No support for secure execution of code
        </h3>
        <p>
          Each build of a project in Plug n’ Code runs on a separate isolated docker instance to make sure no system specific issues interfere with the job. This also ensures safety of the project data and all kinds of output or logs are directly forwarded to the user’s browser window without being persisted in any kind of data storage medium.
        </p>
      </li>
    </ul>

    <h2 class="ui center aligned header">
      What we offer
    </h2>

        <h3 class="ui center aligned header">
          <u>Users</u>
        </h3>
        <p style="text-align: center;">We support multiple types of users each serving their own roles <br>
          Say you want to execute something quickly without logging in <br>
          <span style="font-weight: bold;">
            Guest user
          </span>
          Maybe you like us now and want to create an account <br>
          You are a normal user now <br>
          Just using the services isn't enough for you, want to give something back to the community <br>
          Become a developer! <br>
          We'd love to make you an admin, but, we won't... <br>
        </p>

        <h3 class="ui center aligned header">
          <u>Execution environment</u>
        </h3>
        <p style="text-align: center;">
          By default the users will be provided a set of languages to be set as an execution environment for their current project. <br>
          Complex execution environments with multiple languages and custom build scripts can be created by the user. <br>
          New languages can be published (with appropriate rights) or installed as plugins. <br>
        </p>

        <h3 class="ui center aligned header">
          <u>Plugins</u>
        </h3>
        <p style="text-align: center;">
            Plugins will be used to add new languages to a user’s workspace <br>
            Plugins can be installed from the marketplace by any user, and details of the plugins will be saved in the user’s project directory itself.
        </p>

        <h3 class="ui center aligned header">
          <u>Marketplace</u>
        </h3>
        <p style="text-align: center;">
          Here all the published plugins will be available for installation. <br>
          Each plugin will have its developer’s name and a unique developer signature. <br>
          Plugins can be published only if they are approved by the admin, and can be deleted by the plugin’s developer or admin. <br>
        </p>

        <h2 class="ui center aligned header" >
          <i class="circular users icon"></i>
          Meet Our Team
        </h2>
        <p>
          Each and every one of our team represent the spirit of our company: driven, committed, and acutely aware of how limitless Plug n' Code’s potential is to grow. We go to great lengths to identify self-starters with diverse experience and skill sets to produce not just an effective workforce, but a well-rounded, talented and complementary team.
        </p>

        <div class="ui big very relaxed horizontal list">
          <div class="item">
            <div class="middle aligned content">
              <h3 class="header">
                Yash D. Saraf
              </h3>
            </div>
          </div>
          <div class="item">
            <div class="middle aligned content">
              <h3 class="header">
                Raees R. Mulla
              </h3>
            </div>
          </div>
          <div class="item">
            <div class="middle aligned content">
              <h3 class="header">
                Sachin S. Negi
              </h3>
            </div>
          </div>
        </div>
        
  </div>
</div>
