<div class="container">
  <div class="ui compact raised segment">
    <div class="ui fluid form">
      <div class="field">
        <h1 class="ui header">Registration</h1>
        <hr>
      </div>
      <div class="field">
        <label>Name</label>
        <div class="ui left icon input">
          <input type="text" placeholder="Enter your name" size="35">
          <i class="write icon"></i>
        </div>
      </div>
      <div class="field">
        <label>Choose your username</label>
        <div class="ui left icon input">
          <input type="text" placeholder="username">
          <i class="user icon"></i>
        </div>
      </div>
      <div class="field">
        <label>Create your password</label>
        <div class="ui left icon input">
          <input type="password">
          <i class="lock icon"></i>
        </div>
      </div>
      <div class="field">
        <label>Confirm your password</label>
        <div class="ui left icon input">
          <input type="password">
          <i class="lock icon"></i>
        </div>
      </div>

      <div class="ui blue submit button">Sign up</div>
    </div>
  </div>
</div>
