<div class="container">
  <div class="ui left labeled button" [ngClass]="{'mini': isMobile}">
    <a class="ui basic right pointing label" [ngClass]="{'mini': isMobile}">
      Plugin's Name
    </a>
    <div class="ui blue button" [ngClass]="{'mini': isMobile}" style="margin-bottom: 0px;">
      <i class="edit icon"></i>
      Change Plugins
    </div>
  </div>
  <button class="ui blue button" name="button" id="edit-run" [ngClass]="{'mini': isMobile}">Edit run commands</button>
  <div class="ui button" (click)="showModal = true" [ngClass]="{'mini': isMobile}">Theme: {{selectedTheme | initCap}}</div>

</div>
<!-- container -->

<sui-modal *ngIf="showModal" isBasic="true" (dismissed)="showModal = false">
  <div class="header">Select a theme</div>
  <div id="modal-content" class="content">
    <div class="ui middle aligned selection animated relaxed divided inverted huge list">
      <div *ngFor="let theme of themes" (click)="onClick(theme)" class="item">
        <div class="content">
          <div class="header">{{theme | initCap}}</div>
        </div>
      </div>
    </div>
  </div>
</sui-modal>
<!-- run-command modal -->
