<div class="container">
  <div class="ui left labeled button" [ngClass]="{'mini': isMobile}">
    <a class="ui basic right pointing label" [ngClass]="{'mini': isMobile}">
      Plugin's Name
    </a>
    <div class="ui blue button" [ngClass]="{'mini': isMobile}" style="margin-bottom: 0px;">
      <i class="edit icon"></i>
      Change Plugins
    </div>
  </div>
  <button class="ui blue button" name="button" id="edit-run" [ngClass]="{'mini': isMobile}">Edit run commands</button>
  <div class="ui left dropdown button" suiDropdown>
    <div class="text">Theme: {{selectedTheme | initCap}}</div>
    <div class="upward menu" suiDropdownMenu>
      <div *ngFor="let theme of themes" (click)="onClick(theme)" class="item">
        {{theme | initCap}}
      </div>
    </div>
    <!-- menu -->
  </div>
  <!-- dropdown -->
</div>
<!-- container -->
