<div class="container">
  <div id="main">
    <div id="quote">
      <div id="quote-1">
        <h1 class="ui huge center aligned header"  >
          <span style="color: black; position: relative; left: 15px">MARKET</span>
          <span style="color: gray; position: relative; left: 15px">PLACE</span>
        </h1>
      </div>
      <div id="quote-2">
        <!-- <div id="place" class="ui left aligned category search">
          <div class="ui icon input">
            <input class="prompt" placeholder="Search plugins..." type="text">
            <i class="search icon"></i>
          </div>
          <div class="results"></div>
        </div> -->
      </div>
    </div>
    <div id="content">
        <div class="ui basic segment" id="featured-plugins">
          <div class="ui top attached segment">
            <h2 class="ui center aligned header">
              Featured Plugins
            </h2>
          </div>
          <div class="ui basic attached segment">
            <div class="ui centered link special cards" [ngClass]="{ 'one': isMobile , 'five': !isMobile }">
              <div class="card" *ngFor="let fplugin of fplugins">
                <div class="ui blurring dimmable image" (mouseenter)="dimmer.isDimmed = true" (mouseleave)="dimmer.isDimmed = false">
                  <sui-dimmer [transitionDuration]=500 [isClickable]="false" #dimmer>
                    <div class="content">
                      <div class="center">
                        <div class="ui inverted button">
                          <i class="download icon"></i>
                          Install</div>
                      </div>
                    </div>
                    </sui-dimmer>
                  <img src="https://dummyimage.com/200x200/000/fff.jpg&text=Demo+image">
                </div>
                <div class="content">
                  <a class="header">{{fplugin.name}}</a>
                  <div class="meta">
                    <span class="date">Created on {{fplugin.createdOn}}</span>
                  </div>
                  <p class="description">
                    {{fplugin.description}}
                  </p>
                </div>
                <div class="extra content">
                  <a>
                    <i class="download icon"></i>
                    {{fplugin.installs}} Installs
                  </a>
                </div>
              </div>
            </div>
          </div>
        </div>
        <div class="ui centered link special cards" [ngClass]="{ 'one': isMobile , 'five': !isMobile }" id="plugin-cards">
          <div class="card" *ngFor="let plugin of plugins">
            <div class="ui blurring dimmable image" (mouseenter)="dimmer.isDimmed = true" (mouseleave)="dimmer.isDimmed = false">
              <sui-dimmer [transitionDuration]=500 [isClickable]="false" #dimmer>
                <div class="content">
                  <div class="center">
                    <div class="ui inverted button">
                      <i class="download icon"></i>
                      Install</div>
                  </div>
                </div>
                </sui-dimmer>
              <img src="https://dummyimage.com/200x200/000/fff.jpg&text=Demo+image">
            </div>
            <div class="content">
              <a class="header">{{plugin.name}}</a>
              <div class="meta">
                <span class="date">Created on {{plugin.createdOn}}</span>
              </div>
              <p class="description">
                {{plugin.description}}
              </p>
            </div>
            <div class="extra content">
              <a>
                <i class="download icon"></i>
                {{plugin.installs}} Installs
              </a>
            </div>
          </div>
        </div>
    </div>
  </div>
  <div class="ui black inverted vertical segment" id="footer">
    <div id="left-footer">
      <strong>Contact us:</strong>
    </div>
    <div id="right-footer">
      <p>
        <i class="ui icon mail"></i>
        <a href="mailto:help.plugncode@gmail.com">
          <span class="footer-text">{{contacts.email}}</span>
        </a>
      </p>
      <p>
        <i class="ui icon text telephone"></i>
        <span class="footer-text">{{contacts.phone}}</span>
      </p>
    </div>
  </div> <!-- footer -->
</div> <!-- container -->
