<div class="container">
  <div id="main">
    <div id="quote">
      <div id="quote-1">
        <h1 class="ui huge left aligned header" style="font-size: 4em">
          <span>MARKET</span>
          <span>PLACE</span>
        </h1>
      </div>
      <div id="quote-2"></div>
    </div>
    <div id="content">
      <div id="plugins">

      </div>
      <div id="featured-plugins">

      </div>
    </div>
  </div>
  <div class="ui black inverted vertical segment" id="footer">
    <div id="left-footer">
      <strong>Contact us:</strong>
    </div>
    <div id="right-footer">
      <p>
        <i class="ui icon mail"></i>
        <a href="mailto:help.plugncode@gmail.com">
          <span class="footer-text">{{contacts.email}}</span>
        </a>
      </p>
      <p>
        <i class="ui icon text telephone"></i>
        <span class="footer-text">{{contacts.phone}}</span>
      </p>
    </div>
  </div> <!-- footer -->
</div> <!-- container -->
